
:root{

    
    /* transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EEF5FF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    width: 80px;
    height: 80px;
    position: relative;
}

.content {
    text-align: center;
    margin-top: 20%;
}

.textCon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 50px;
    color: #403F3F;
}

.text1 {
    font-size: 50px;
    color: #55bCF6;
}

.text2 {
    font-size: 20px;
    color: #55bCF6;
}

.input {
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

.inputButton {
    width: 100%;
    padding: 15px;
    background-color: #55bCF6;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.Btn {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.button {
    background-color: #55bCF6;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.middle {
    width: 100%;
    align-content: center;
    justify-content: center;
}
.mode{
    width: 100%;
    height: 20%;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.mode-enter{
    display: flex;
    flex-direction: column;
}

.mode-enter a{
    text-decoration: none;
    color: white;
}

.popup{
    background-color: #fffabd;
    width: 10vw;
    padding: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
}

.popup form{
    display: flex;
    flex-direction: column;
    /* border-radius: 100%; */
}
.popup form label{
    display: flex;
    flex-direction: column;
    color: #707070;
    height: 30px;
}
#login-button{
    transition-timing-function: ease-in-out;
    transition: width 5s;
    margin-top: 3vh;
    box-shadow: 0 3px 3px gray;

}

#login-button:hover{

}
